<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
	<title>Cats vs Dogs</title>
</head>

<body class="container">
	<div class="container-form">
		<h1>Cats vs Dogs Classificator</h1>
		{% if filename %}
		<div>
			<p>This image most likely belongs to <span style="color: #ff0000">{{label}}</span> with a <span
					style="color: #ff0000">{{probability}}</span> percent confidence!</p>
			<figure>
				<img src="{{url_for('static', filename='/uploads/' + filename)}}" />
			</figure>
		</div>
		{% endif %}
		<form method="post" action="/" enctype="multipart/form-data">
			<dl>
				<p>
					<input class="inp-file" type="file" name="file" autocomplete="off" required>
				</p>
			</dl>
			<p>
				<input class="sub-btn" type="submit" value="Submit">
			</p>
		</form>
	</div>
</body>

</html>